<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Child to Child communication</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['home']">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['course']">COURSE</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['student']">STUDENT</a>
      </li>
    </ul>
  </div>
</nav>
<!-- NAV BAR END HERE-->


<!-- here show all router component  -->
<section style="background-color: antiquewhite;">
<router-outlet></router-outlet>
</section>
<!-- here end above section  -->

